{% extends "master.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/modal.css"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="center-div table" style="display: flexbox;">
                    <thead>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">Initiator</th>
                        <th scope="col">Round Active</th>
                        <th scope="col">Start/Submit Time</th>
                    </thead>
                    <tbody>
                        {% for round in rounds %}
                            <tr>
                                <th scope="col">
                                    <input id="view{{round.id}}" type="button" value="View" class="btn btn-warning" onclick="viewRoundOrders(event, {{round.id}})"/>
                                </th>
                                <td>#{{round.id}}</th>
                                <td>{{round.initiator}}</td>
                                <td>{{round._active}}</td>
                                <td>{{round.start_time_UTC}}</td>                            
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <form id="add_drink_form" style="display: flexbox;">
                    <div class="center-div" style="display: flexbox; text-align: center;">
                        <table class="center-div">
                            <tr>
                                <td>
                                    <legend style="text-align: center;">Create New Round</legend>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="fav_drink" name="fav_drink" style="width: 100%;">
                                        <option value="-1">-- Round Initiator --</option>
                                        {% for person in people %}
                                            <option value="{{person.id}}">{{person.full_name}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="submit_btn" type="submit" value="Create Round" class="btn btn-warning btn-sm" style="align-self: center; margin-top: 10px; width: 100%;">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>    
            </div>
        </div>
    </div>

    <div id="orders_modal" class="modal">
        <div class="modal-content">
            <table id="orders_table">

            </table>
            <input id="close_modal" type="button" class="close-modal btn btn-warning btn-sm" value="close" />
        </div>
    </div>


    <script src="/static/rounds.js"></script>
{% endblock %}